footer.footer-main-sec {
	padding: 36px 0px;
	background: #000000;

	.footer-inner {
		.footer-left-area {
			max-width: max-content;
		}

		.footer-right-area {
			max-width: max-content;
			margin-left: auto;
		}

		.footer-copyright-area,
		.footer-call-today-area {
			p {
				font-family: 'Helvetica Neue';
				font-size: 18px;
				font-weight: 400;
				line-height: 21px;
				color: #FFFFFF;
				margin: 0px;

				a {
					color: #FFFFFF;
					text-decoration: none;
				}
			}
		}
	}
}