// Bootstrap
@import "bootstrap-custom";

// Base
@import "base/typography";
@import "base/global";

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1184px;
	}
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../font/HelveticaNeueLight.eot');
	src: url('../font/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
		url('../font/HelveticaNeueLight.woff2') format('woff2'),
		url('../font/HelveticaNeueLight.woff') format('woff'),
		url('../font/HelveticaNeueLight.ttf') format('truetype'),
		url('../font/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../font/HelveticaNeue-Medium.eot');
	src: url('../font/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/HelveticaNeue-Medium.woff2') format('woff2'),
		url('../font/HelveticaNeue-Medium.woff') format('woff'),
		url('../font/HelveticaNeue-Medium.ttf') format('truetype'),
		url('../font/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../font/HelveticaNeueBold.eot');
	src: url('../font/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
		url('../font/HelveticaNeueBold.woff2') format('woff2'),
		url('../font/HelveticaNeueBold.woff') format('woff'),
		url('../font/HelveticaNeueBold.ttf') format('truetype'),
		url('../font/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../font/HelveticaNeueMedium.eot');
	src: url('../font/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
		url('../font/HelveticaNeueMedium.woff2') format('woff2'),
		url('../font/HelveticaNeueMedium.woff') format('woff'),
		url('../font/HelveticaNeueMedium.ttf') format('truetype'),
		url('../font/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../font/HelveticaNeueThin.eot');
	src: url('../font/HelveticaNeueThin.eot?#iefix') format('embedded-opentype'),
		url('../font/HelveticaNeueThin.woff2') format('woff2'),
		url('../font/HelveticaNeueThin.woff') format('woff'),
		url('../font/HelveticaNeueThin.ttf') format('truetype'),
		url('../font/HelveticaNeueThin.svg#HelveticaNeueThin') format('svg');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

// Layouts
@import "layouts/header";
@import "layouts/content";
@import "layouts/footer";

// Components
@import "components/button";
